*.o
*.pm.tdy
*.bs
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
cover_db/
nytprof.out
/.build/
_build/
Build
Build.bat
inc/
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
!Build/

